<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" type="text/css" href="/style/style.css">
    <script src="/js/game.js" defer></script>
    <title>Jeu du Morpion</title>
  </head>
  <body>
    <div id="gameEnd">
        <p class="white" id="endGameStatus">...</p>
        <input
        type="submit"
        value="Recommencer"
        id="reloadGame"
        onclick="reloadGame()"
        />
    </div>
    
    <div style="text-align:center;">
        <h1>Jeu du Morpion - Partie <%= @game.id %></h1>
        <p>Joueur X: <%= @game.player_x.name %></p>
        <p>Joueur O: <%= @game.player_o.name %></p>
        <p>Status: 
            <% if @game.status == 'ongoing' %>
                En cours
            <% else %>
                Terminé
            <% end %>
        </p>
        <br />

        <h1 id="gameStatus"></h1>

        <div style="justify-content:center; display:flex;"> 
            <div class="board">
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
            </div>
        </div>
        <button onclick="envoyerDonnee()">Envoyer</button>
    </div>
  </body>
</html>
